{% extends 'videochat/base.html' %}
{% load static %}
{% block title %} Lobby {% endblock title %}

{% block content %}
<main>

    <div id="form-container">
        <img id="logo" src="{% static 'image/footprint.png' %}" alt="">
        
        <div>
            <h1 class="py-4 flex text-2xl justify-center header"> Welcome to Paw Link </h1>
            <p class="text-center"> An online video chat for interviews and post-adoption consultation </p>
        </div>

        <form id="form" style="font-family: 'Imprima', sans-serif;">
            
            <div class="flex justify-center pt-4">
                <input class="rounded-md px-14" type="text" name="room" placeholder="Enter a room name..." style="text-transform: uppercase;">
            </div>

            <div class="flex justify-center py-4">
                <button type="submit" class="px-16 py-2 border rounded-md text-white bg-amber-700 hover:bg-amber-800">
                    Join
                </button>
            </div>

        </form>
    </div>

</main>

<script type="text/javascript">
    let form = document.getElementById('form')

    let handleSubmit = async (e) => {
        e.preventDefault()
        let room = e.target.room.value.toUpperCase()
        
        let response = await fetch(`/get_token/?channel=${room}`)
        let data = await response.json()

        let UID = data.uid
        let token = data.token

        sessionStorage.setItem('UID', UID)
        sessionStorage.setItem('token', token)
        sessionStorage.setItem('room', room)

        window.open('/room/','_self')
    }

    form.addEventListener('submit', handleSubmit)
</script>
{% endblock content %}