{% extends 'main/base.html' %}
{% load static %}

{% block title %} Crowdfunding Page {% endblock %}

{% block content %}
<script src="{% static 'js/card.js' %}"></script>

<body class="min-h-screen bg-gradient-to-b from-orange-400 to-orange-400">


    <div class=" relative col-span-1">
        <img class="aspect-w-16 aspect-h-9" src="/static/image/crowdf.jpg">
    
        <div class="absolute p-5 top-1/3 left-1/2 left-20 mt-8 font-extrabold text-gray-900 dark:text-white md:text-4xl lg:text-6xl justify-end">
             <span class="text-transparent bg-clip-text bg-gradient-to-r to-stone-50 from-stone-50">Support campaigns</div>

        <div class="absolute p-12 top-1/3 left-20 mt-24 font-extrabold text-gray-900 dark:text-white md:text-2xl lg:text-4xl justify-end">
            <span class="text-transparent bg-clip-text bg-gradient-to-r to-stone-50 from-stone-50">And save lives all year long!</div>
        
    </div>

    
    <div class="bg-gray-100 w-full min-h-screen gap-4 flex-wrap flex justify-center items-center">

        
            
            <div class="grid-cols-1 sm:grid md:grid-cols-1 mx-3 mt-6 flex flex-col self-start rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
              <a href="#!">
                <img
                  class="rounded-t-lg"
                  src="/static/image/C1.jpg"
                  alt="" />
              </a>
              <div class="p-6">
                <h5
                  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                  Help Us Expand our Shelter
                </h5>
                <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content. This content is a little bit
                  longer.
                </p>
              </div>
            </div>

        <div class="grid-cols-1 sm:grid md:grid-cols-2 ">   

            <div class="max-w-sm w-full lg:max-w-full lg:flex">
                <div class="h-48 lg:h-auto lg:w-48 flex-none bg-cover rounded-t lg:rounded-t-none lg:rounded-l text-center overflow-hidden" style="background-image: url('/img/card-left.jpg')" title="Woman holding a mug">
                </div>
                <div class="border-r border-b border-l border-gray-400 lg:border-l-0 lg:border-t lg:border-gray-400 bg-white rounded-b lg:rounded-b-none lg:rounded-r p-4 flex flex-col justify-between leading-normal">
                  <div class="mb-8">
                    <p class="text-sm text-gray-600 flex items-center">
                      <svg class="fill-current text-gray-500 w-3 h-3 mr-2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                        <path d="M4 8V6a6 6 0 1 1 12 0v2h1a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-8c0-1.1.9-2 2-2h1zm5 6.73V17h2v-2.27a2 2 0 1 0-2 0zM7 6v2h6V6a3 3 0 0 0-6 0z" />
                      </svg>
                      Members only
                    </p>
                    <div class="text-gray-900 font-bold text-xl mb-2">Can coffee make you a better developer?</div>
                    <p class="text-gray-700 text-base">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.</p>
                  </div>
                  <div class="flex items-center">
                    <img class="w-10 h-10 rounded-full mr-4" src="/static/image/C1.jpg" alt="Avatar of Jonathan Reinink">
                    <div class="text-sm">
                      <p class="text-gray-900 leading-none">Jonathan Reinink</p>
                      <p class="text-gray-600">Aug 18</p>
                    </div>
                  </div>
                </div>
              </div>
              
            <div
              class="mx-3 mt-6 flex flex-col self-start rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700 sm:shrink-0 sm:grow sm:basis-0">
              <a href="#!">
                <img
                  class="rounded-t-lg"
                  src="https://tecdn.b-cdn.net/img/new/standard/city/044.webp"
                  alt="Skyscrapers" />
              </a>
              <div class="p-6">
                <h5
                  class="mb-2 text-xl font-medium leading-tight text-neutral-800 dark:text-neutral-50">
                  Card title
                </h5>
                <p class="mb-4 text-base text-neutral-600 dark:text-neutral-200">
                  This is a longer card with supporting text below as a natural
                  lead-in to additional content.
                </p>
              </div>
            </div>
          </div>
        
      
      </div>

</div>

</body>


{% endblock %}