{% extends 'main/base.html' %}
{% load static %}
{% block title %}   Donation    {% endblock %}

{% block css %} <link rel="stylesheet" href="{% static 'styles/donation.css' %}"> {% endblock %}
{% block content %}

    <section class="home" id="home">
        <div class="content-page">
            <h2>Help us help more animals </h2>
            <h3>You can be a Supporting Member for a minimum contribution of P300/month. </h3>
            <p>Supporting Members are also considered active PAWS Volunteers and can participate in events such as fundraisers and other shelter activities.                    You can donate manually each month make it a recurring donation with your credit card.</p>
            <a href="#products">Donate in GCash</a>
            <b href="#products">Donate via Credit Card</b>
        </div>
    </section>
    
    <section class="products" id="products">
        <h2>Donation Details</h2>
        <div class="box-container">

            <div class="product">
                <div class="product-image">
                    <img src="images/gcash.png" alt="Product 1">
                </div>
                <div class="product-detail">
                    <h3>Acct Name: PAWS Philippines</h3>
                    <p>Log in to GCash and tap Pay QR.
                        Scan our QR code.
                        Input the total amount and tap Next.
                        Review all details then tap on Pay.</p> 
                </div>                
            </div>
    
            <div class="product">
                <div class="product-image">
                    <img src="images/bdo.png" alt="Product 1">
                </div>
                <div class="product-detail">
                    <h3>Acct Name: The Philippine Animal Welfare Society, Inc.</h3>
                    <p>Bank of the Philippine Islands (Swift no. BOPIPHMM)
                    USD Acct No. 3944-0021-61
                    PHP Acct No. 3943-0086-11
                    Philippine National Bank (Swift no. PNBM PHMM)
                   Acct No. 1888-70015305</p>
                </div>     
            </div>
        </div>
    </section>
{% endblock %}